//Workspace
*.code-workspace
gitIgnored/
test-sin/
documentation/
test-sin/
.gitignore
my-file.md
package-lock.json
package.json
postcss.config.js
webpack.config.js
babel.config.js
jest.config.js
migration.js
.sassdocrc
.browserslistrc
tests/
installation.js
scripts/
init/
sassdoc/
coverage/
commitlint.config.js