@use 'sass:string';
@use 'sass:map';
@use 'sass:list';
@use '../../../../../scss/sin.config' as *;

// Contains function returns true or false. Checks if a value is present in a list inside sinConfig
@function contains($list, $var) {
  $isTrue: null;
  @each $key, $value in get($list) {
    @if $key == $var {
      $isTrue: true;
    }
    @return $isTrue;
  }

  @if $isTrue != true {
    @warn string.unquote('Invalid $var provided in contains function:') #{$var};
  }

  @return $isTrue;
}

@function list-contains($list, $val) {
  $isTrue: false;
  @each $key, $value in $list {
    @if $key == $val or $value == $val {
      $isTrue: true;
    }
  }

  @if $isTrue != true {
    @warn string.unquote('Invalid $val provided in contains function:') #{$val};
  }

  @return $isTrue;
}

// Return value of a map
@function return-map-key($map, $val) {
  @each $key, $value in $map {
    @if $val == $value {
      @return $key;
    }
  }
}
