@use 'sass:string';
@use 'sass:map';
@use 'sass:list';

@function type($data: null, $data-types: ()) {
  $isTrue: false;
  $data-types-list: ('null', bool, string, color, number, list, map);

  // If the input is datatypes, it will print all data types available in SASS (from the map above)
  @if $data == 'datatypes' {
    @debug 'List of SASS data types:';
    @each $data-type in $data-types-list {
      @debug '- #{$data-type}';
    }
    @return 'End of data types';
  } @else {
    @if length($data-types) >= 1 {
      @each $data-type in $data-types {
        @if type-of($data) == $data-type {
          $isTrue: true;
        }
      }
    } @else {
      @warn 'type() called without arguements.';
    }
    @return $isTrue;
  }
}
