@import url("compiled/sinister.css");

body {
    padding: 0;
    margin: 0;

    font-family: monospace;

    background: #181818;
    color: white;
}

.sinister--sectionHr {
    flex: 1 0 100%;
}

.sinister--header {
    background: #c7493a;
    clip-path: polygon(0 0, 46% 0, 25% 100%, 0% 100%);

    h1 {
        margin: 0 0 0 2rem;
        padding: 2rem 0;
    }
}

.sinister--section {
    max-width: 80%;
}
