@use '../sin' as *;

.lol {
  @include mqMax(get($desktop-small)) {
    color: get(colors, primary);
  }

  @include spacing(m, l, 6);
}

.lal {
  // $newSpacing: get(spacing, xxl);
  // $newSpacings: map-values($newSpacing);
  // @debug get-map($configuration, bootstrap, color, bs-blue);
  // @debug getMap($configuration, bootstrap, color, bs-blue);
  background: getMap($configuration, bootstrap, color, bs-blue);

  // $lol: set($configuration, 'bootstrap color bs-blue', red);
  @include mqMax($smartphone) {
    display: none;
  }
}
