@use '../../../../../sin.config' as *;

//⚔️⚰️⚰️⚰️⚰️⚰️⚰️⚰️⚔️
//  Background Image
//⚔️⚰️⚰️⚰️⚰️⚰️⚰️⚰️⚔️

// Added this for compatibility reasons and maybe will be easy to use int he future. Has a very strange syntax though
// ex syntax :   @include bgImg('images/home/home-masthead-489489790.jpg', 'rgba(#{$mmGreyDrk}, .6),rgba(#{$mmGreyDrk}, .6)');

@mixin bg-img($imgUrl: null, $overlay: transparent, $position: center center, $size: cover, $fbColor: #666) {
  background-color: $fbColor; // fallback
  background: url('#{$imgUrl}') #{$position}; // fallback

  background: -moz-linear-gradient(#{$overlay}), url('#{$imgUrl}') #{$position}; // FF 3.6+
  background: -webkit-gradient(#{$overlay}), url('#{$imgUrl}') #{$position}; // Safari 4+, Chrome 2+
  background: -webkit-linear-gradient(#{$overlay}), url('#{$imgUrl}') #{$position}; // Safari 5.1+, Chrome 10+
  background: -o-linear-gradient(#{$overlay}), url('#{$imgUrl}') #{$position}; // Opera 11.10
  background: linear-gradient(#{$overlay}), url('#{$imgUrl}') #{$position}; // Standard, IE10
}
