@use '../../../../../sin.config' as *;
@use '../functions/' as *;

/// Makes google maps responsive
/// @group utility
/// @deprecated Since version 0.6.67-beta.2. Use `responsive-iframe` mixin instead.
@mixin responsiveMap {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;

  iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  }
}

@if getMap($configuration, generate-classes, utility) {
  .responsive-map {
    @include responsiveMap;
  }
}
