@use '../../../../../sin.config' as *;
@use '../functions/' as *;

/// Makes youtube video iframe responsive
/// Requires a parent Element Place the mixin in the parent Element
/// @group utility
/// @deprecated Since version 0.6.67-beta.2. Use `iframe()` mixin instead.
/// @arg {number} $padding [56.2%] - Set a percentage to achieve the desired padding
@mixin responsive-video($padding: 56.25%) {
  position: relative;
  width: 100%;
  padding-bottom: $padding;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

@if getMap($configuration, generate-classes, utility) {
  .responsive-video {
    @include responsive-video;
  }
}
