@use 'sass:map';
@use 'sass:string';
@use '../../../../../scss/sinConfig' as *;
@use './../modules/func' as f;

//⚔️⚰️⚰️⚰️⚰️⚰️⚰️⚰️⚔️
//  MARGINS | PADDINGS | GAP
//⚔️⚰️⚰️⚰️⚰️⚰️⚰️⚰️⚔️

$spacingProperties: (
  margin: m,
  padding: p,
  gap: g,
);

$spacingDirection: (
  generic: 'g',
  top: 't',
  right: 'r',
  bottom: 'b',
  left: 'l',
  x-axis: 'x',
  y-axis: 'y',
);

// Create Classes
@each $spacingKey, $spacingVal in f.get(spacing) {
  @if type-of($spacingKey) == 'number' or type-of($spacingKey) == 'string' {
    @if type-of($spacingVal) == 'number' {
      @each $propertyKey, $propertyValue in $spacingProperties {
        @each $directionKey, $directionValue in $spacingDirection {
          // X-AXIS
          @if $directionKey == 'x-axis' {
            $className: #{$propertyValue}#{$directionValue};
            .#{$className}-#{$spacingKey} {
              // MARGIN
              @if $propertyValue == 'm' {
                margin-top: $spacingVal !important;
                margin-bottom: $spacingVal !important;
              }
              // PADDING
              @else if $propertyValue == 'p' {
                padding-top: $spacingVal !important;
                padding-bottom: $spacingVal !important;
              }
              // GAP
              @else if $propertyValue == 'g' {
                // Fallback for older browsers
                @supports not (gap: 2rem) {
                  margin-left: $spacingVal !important;
                  margin-right: $spacingVal !important;
                }
                row-gap: $spacingVal !important;
              } @else {
                @warn string.unquote( 'Unknown Property Value. It seems that you have added a new "$spacingProperties" item without defining the logic') #{$spacingProperties};
              }
            }
          }
          // Y-AXIS
          @else if $directionKey == 'y-axis' {
            $className: #{$propertyValue}#{$directionValue};

            .#{$className}-#{$spacingKey} {
              // MARGIN
              @if $propertyValue == 'm' {
                margin-top: $spacingVal !important;
                margin-bottom: $spacingVal !important;
              }
              // PADDING
              @else if $propertyValue == 'p' {
                padding-top: $spacingVal !important;
                padding-bottom: $spacingVal !important;
              }
              // GAP
              @else if $propertyValue == 'g' {
                // Fallback for older browsers
                @supports not (gap: 2rem) {
                  margin-top: $spacingVal !important;
                  margin-bottom: $spacingVal !important;
                }
                column-gap: $spacingVal !important;
              } @else {
                @warn string.unquote('Unknown Property Value. It seems that you have added a new "$spacingProperties" item without defining the logic') #{$spacingProperties};
              }
            }
          }
          // ALL DIRECTIONS
          @else if $directionKey == 'generic' {
            $className: #{$propertyValue}#{$directionValue};

            .#{$className}-#{$spacingKey} {
              // MARGIN
              @if $propertyValue == 'm' {
                margin-top: $spacingVal !important;
                margin-right: $spacingVal !important;
                margin-bottom: $spacingVal !important;
                margin-left: $spacingVal !important;
              }
              // PADDING
              @else if $propertyValue == 'p' {
                padding-top: $spacingVal !important;
                padding-right: $spacingVal !important;
                padding-bottom: $spacingVal !important;
                padding-left: $spacingVal !important;
              }
              // GAP
              @else if $propertyValue == 'g' {
                // Fallback for older browsers
                @supports not (gap: 2rem) {
                  margin: $spacingVal !important;
                }
                gap: $spacingVal !important;
              } @else {
                @warn string.unquote( 'Unknown Property Value. It seems that you have added a new "$spacingProperties" item without defining the logic') #{$spacingProperties};
              }
            }
          }

          // DIRECTION TOP
          @else if $directionKey == 'top' {
            $className: #{$propertyValue}#{$directionValue};
            .#{$className}-#{$spacingKey} {
              // MARGIN
              @if $propertyValue == 'm' {
                margin-top: $spacingVal !important;
              }
              // PADDING
              @else if $propertyValue == 'p' {
                padding-top: $spacingVal !important;
              }
              // GAP
              @else if $propertyValue == 'g' {
                //gap does not support single direction
              } @else {
                @warn string.unquote( 'Unknown Property Value. It seems that you have added a new $spacingProperties item without defining the logic');
              }
            }
          }
          // DIRECTION RIGHT
          @else if $directionKey == 'right' {
            $className: #{$propertyValue}#{$directionValue};
            .#{$className}-#{$spacingKey} {
              // MARGIN
              @if $propertyValue == 'm' {
                margin-right: $spacingVal !important;
              }
              // PADDING
              @else if $propertyValue == 'p' {
                padding-right: $spacingVal !important;
              }
              // GAP
              @else if $propertyValue == 'g' {
                //gap does not support single direction
              } @else {
                @warn string.unquote( 'Unknown Property Value. It seems that you have added a new $spacingProperties item without defining the logic');
              }
            }
          }
          // DIRECTION BOTTOM
          @else if $directionKey == 'bottom' {
            $className: #{$propertyValue}#{$directionValue};
            .#{$className}-#{$spacingKey} {
              // MARGIN
              @if $propertyValue == 'm' {
                margin-bottom: $spacingVal !important;
              }
              // PADDING
              @else if $propertyValue == 'p' {
                padding-bottom: $spacingVal !important;
              }
              // GAP
              @else if $propertyValue == 'g' {
                //gap does not support single direction
              } @else {
                @warn string.unquote( 'Unknown Property Value. It seems that you have added a new $spacingProperties item without defining the logic');
              }
            }
          }

          // DIRECTION LEFT
          @else if $directionKey == 'left' {
            $className: #{$propertyValue}#{$directionValue};
            .#{$className}-#{$spacingKey} {
              // MARGIN
              @if $propertyValue == 'm' {
                margin-left: $spacingVal !important;
              }
              // PADDING
              @else if $propertyValue == 'p' {
                padding-left: $spacingVal !important;
              }
              // GAP
              @else if $propertyValue == 'g' {
              } @else {
                @warn string.unquote( 'Unknown Property Value. It seems that you have added a new $spacingProperties item without defining the logic');
              }
            }
          }
        }
      }
    } @else {
      @warn string.unquote( '$spacing values must be type of number but there are some of type:') #{type-of($spacingVal)};
    }
  } @else {
    @warn string.unquote( '$spacing keys must be type of number or string but there are some of type:') #{type-of($spacingKey)};
  }
}

//⚔️⚰️⚰️⚰️⚰️⚰️⚰️⚰️⚔️
//  MIXINS
//⚔️⚰️⚰️⚰️⚰️⚰️⚰️⚰️⚔️
$key: '';
//Unfortunately i can't find a way to incorporate the mixins inside the loop.
@mixin spacing($property, $direction, $value, $scale: 1) {
  // @debug 'Property: ' $property;
  // @debug 'Direction: ' $direction;
  // @debug 'Value: ' $value;

  //⚔️⚰️⚰️⚰️⚰️⚰️⚰️⚰️⚔️
  // MARGIN
  //⚔️⚰️⚰️⚰️⚰️⚰️⚰️⚰️⚔️
  @if $property == 'm' {
    @if $direction == 't' {
      @if f.contains(spacing, $value) {
        margin-top: calc(#{f.get(spacing, $value)} * #{$scale}) !important;
      } @else {
        @warn string.unquote( 'Invalid Value provided in spacing mixin: #{$value}');
      }
    } @else if $direction == 'r' {
      @if f.contains(spacing, $value) {
        margin-right: calc(#{f.get(spacing, $value)} * #{$scale}) !important;
      } @else {
        @warn string.unquote( 'Invalid Value provided in spacing mixin: #{$value}');
      }
    } @else if $direction == 'b' {
      @if f.contains(spacing, $value) {
        margin-bottom: calc(#{f.get(spacing, $value)} * #{$scale}) !important;
      } @else {
        @warn string.unquote( 'Invalid Value provided in spacing mixin: #{$value}');
      }
    } @else if $direction == 'l' {
      @if f.contains(spacing, $value) {
        margin-left: calc(#{f.get(spacing, $value)} * #{$scale}) !important;
      } @else {
        @warn string.unquote( 'Invalid Value provided in spacing mixin: #{$value}');
      }
    } @else if $direction == 'g' {
      @if f.contains(spacing, $value) {
        margin-top: calc(#{f.get(spacing, $value)} * #{$scale});
        margin-right: calc(#{f.get(spacing, $value)} * #{$scale});
        margin-bottom: calc(#{f.get(spacing, $value)} * #{$scale});
        margin-left: calc(#{f.get(spacing, $value)} * #{$scale});
      } @else {
        @warn string.unquote( 'Invalid Value provided in spacing mixin: #{$value}');
      }
    } @else if $direction == 'y' {
      @if f.contains(spacing, $value) {
        margin-top: calc(#{f.get(spacing, $value)} * #{$scale}) !important;

        margin-bottom: calc(#{f.get(spacing, $value)} * #{$scale}) !important;
      } @else {
        @warn string.unquote( 'Invalid Value provided in spacing mixin: #{$value}');
      }
    } @else if $direction == 'x' {
      @if f.contains(spacing, $value) {
        margin-right: calc(#{f.get(spacing, $value)} * #{$scale}) !important;

        margin-left: calc(#{f.get(spacing, $value)} * #{$scale}) !important;
      } @else {
        @warn string.unquote( 'Invalid Value provided in spacing mixin: #{$value}');
      }
    } @else {
      @warn string.unquote( 'Invalid Property provided in spacing mixin: #{$direction}');
    }
  }
  //⚔️⚰️⚰️⚰️⚰️⚰️⚰️⚰️⚔️
  // PADDING
  //⚔️⚰️⚰️⚰️⚰️⚰️⚰️⚰️⚔️
  @else if $property == 'p' {
    @if $direction == 't' {
      @if f.contains(spacing, $value) {
        padding-top: calc(#{f.get(spacing, $value)} * #{$scale});
      } @else {
        @warn string.unquote( 'Invalid Value provided in spacing mixin: #{$value}');
      }
    } @else if $direction == 'r' {
      @if f.contains(spacing, $value) {
        padding-right: calc(#{f.get(spacing, $value)} * #{$scale}) !important;
      } @else {
        @warn string.unquote( 'Invalid Value provided in spacing mixin: #{$value}');
      }
    } @else if $direction == 'b' {
      @if f.contains(spacing, $value) {
        padding-bottom: calc(#{f.get(spacing, $value)} * #{$scale}) !important;
      } @else {
        @warn string.unquote( 'Invalid Value provided in spacing mixin: #{$value}');
      }
    } @else if $direction == 'l' {
      @if f.contains(spacing, $value) {
        padding-left: calc(#{f.get(spacing, $value)} * #{$scale}) !important;
      } @else {
        @warn string.unquote( 'Invalid Value provided in spacing mixin: #{$value}');
      }
    } @else if $direction == 'g' {
      @if f.contains(spacing, $value) {
        padding-top: calc(#{f.get(spacing, $value)} * #{$scale}) !important;
        padding-right: calc(#{f.get(spacing, $value)} * #{$scale}) !important;
        padding-bottom: calc(#{f.get(spacing, $value)} * #{$scale}) !important;
        padding-left: calc(#{f.get(spacing, $value)} * #{$scale}) !important;
      } @else {
        @warn string.unquote( 'Invalid Value provided in spacing mixin: #{$value}');
      }
    } @else if $direction == 'y' {
      @if f.contains(spacing, $value) {
        padding-top: calc(#{f.get(spacing, $value)} * #{$scale}) !important;

        padding-bottom: calc(#{f.get(spacing, $value)} * #{$scale}) !important;
      } @else {
        @warn string.unquote( 'Invalid Value provided in spacing mixin: #{$value}');
      }
    } @else if $direction == 'x' {
      @if f.contains(spacing, $value) {
        padding-right: calc(#{f.get(spacing, $value)} * #{$scale}) !important;

        padding-left: calc(#{f.get(spacing, $value)} * #{$scale}) !important;
      } @else {
        @warn string.unquote( 'Invalid Value provided in spacing mixin: #{$value}');
      }
    } @else {
      @warn string.unquote( 'Invalid Property provided in spacing mixin: #{$direction}');
    }
  }
  //⚔️⚰️⚰️⚰️⚰️⚰️⚰️⚰️⚔️
  // GAP
  //⚔️⚰️⚰️⚰️⚰️⚰️⚰️⚰️⚔️
  @else if $property == 'g' {
    @if $direction == 'g' {
      @if f.contains(spacing, $value) {
        @supports not (gap: 2rem) {
          margin-top: calc(#{f.get(spacing, $value)} * #{$scale}) !important;
          margin-right: calc(#{f.get(spacing, $value)} * #{$scale}) !important;
          margin-bottom: calc(#{f.get(spacing, $value)} * #{$scale}) !important;
          margin-left: calc(#{f.get(spacing, $value)} * #{$scale}) !important;
        }
        gap: calc(#{f.get(spacing, $value)} * #{$scale}) !important;
      } @else {
        @warn string.unquote( 'Invalid Value provided in spacing mixin: #{$value}');
      }
    } @else if $direction == 'y' {
      @if f.contains(spacing, $value) {
        @supports not (gap: 2rem) {
          margin-top: calc(#{f.get(spacing, $value)} * #{$scale}) !important;

          margin-bottom: calc(#{f.get(spacing, $value)} * #{$scale}) !important;
        }
        column-gap: calc(#{f.get(spacing, $value)} * #{$scale}) !important;
      } @else {
        @warn string.unquote( 'Invalid Value provided in spacing mixin: #{$value}');
      }
    } @else if $direction == 'x' {
      @if f.contains(spacing, $value) {
        @supports not (gap: 2rem) {
          margin-right: calc(#{f.get(spacing, $value)} * #{$scale}) !important;

          margin-left: calc(#{f.get(spacing, $value)} * #{$scale}) !important;
        }
        row-gap: calc(#{f.get(spacing, $value)} * #{$scale}) !important;
      } @else {
        @warn string.unquote( 'Invalid Value provided in spacing mixin: #{$value}');
      }
    } @else {
      @warn string.unquote( 'Invalid Property provided in spacing mixin: #{$direction}');
    }
  } @else {
    @warn string.unquote( 'Invalid Property provided in spacing mixin: #{$property}');
  }
}
