$css-properties: (
  flex: (
    flex-direction: (
      fd-r: row,
      fd-cl: column,
      fd-rr: row-reverse,
      fd-clr: column-reverse,
    ),
    align-items: (
      ai-str: stretch,
      ai-fs: flex-start,
      ai-fe: flex-end,
      ai-c: center,
      ai-bl: baseline,
      ai-fbl: 'first baseline',
      ai-lbl: 'last baseline',
      ai-st: start,
      ai-ed: end,
      ai-sst: 'self-start',
      ai-sed: 'self-end',
      ai-sf: 'safe',
      ai-usf: 'unsafe',
    ),
    align-content: (
      ac-fs: flex-start,
      ac-fe: flex-end,
      ac-c: center,
      ac-sb: space-between,
      ac-sa: space-around,
      ac-se: space-evenly,
      ac-str-: stretch,
      ac-st: start,
      ac-ed: end,
      ac-bl: baseline,
      ac-fbl: 'first baseline',
      ac-lbl: 'last baseline',
      ac-sf: 'safe',
      ac-usf: 'unsafe',
    ),
    justify-content: (
      jc-fs: 'flex-start',
      jc-fe: 'flex-end',
      jc-c: center,
      jc-sb: 'space-between',
      jc-sa: 'space-around',
      jc-se: 'space-evenly',
      jc-st: start,
      jc-ed: end,
      jc-l: left,
      jc-r: right,
      jc-sf: 'safe',
      jc-usf: 'unsafe',
    ),
    wrap: (
      w-nw: nowrap,
      w-w: wrap,
      w-wr: wrap-reverse,
    ),
    align-self: (
      as-au: auto,
      as-fs: flex-start,
      as-fe: flex-end,
      as-c: center,
      as-bl: baseline,
      as-str: stretch,
    ),
  ),
  width: (
    max-content,
    min-content,
    auto,
    inherit,
    initial,
    revert,
    'revert-layer',
    unset,
  ),
  spacing: (
    spacing-properties: (
      m: margin,
      p: padding,
      g: gap,
    ),
    spacing-direction: (
      generic: 'g',
      top: 't',
      right: 'r',
      bottom: 'b',
      left: 'l',
      x-axis: 'x',
      y-axis: 'y',
    ),
    spacing-directions: (
      g: (
        top,
        right,
        bottom,
        left,
      ),
      y: (
        top,
        bottom,
      ),
      x: (
        left,
        right,
      ),
      t: (
        top,
      ),
      r: (
        right,
      ),
      b: (
        bottom,
      ),
      l: (
        left,
      ),
    ),
  ),
);
