@use '../../../../../scss/sinConfig' as *;

//+----------------------+
// Buttons
//+----------------------+

//Filling button color from left to right

//Place Mixin/Class at the parent element.

@mixin animLR($firstColor: black, $secondColor: white, $btnWidth: auto, $btnHeight: auto, $duration: 0.6s) {
  border-color: $firstColor;
  color: $firstColor;
  background: linear-gradient(to right, $firstColor 50%, $secondColor 50%);
  width: $btnWidth;
  height: $btnHeight;
  line-height: $btnHeight; // Otherwise text stays at top.
  transition: all $duration ease-out;

  display: block;
  background-size: 200% 100%;
  background-position: right bottom;
  text-align: center;

  &:hover {
    background-position: left bottom;
    color: $secondColor;
  }
}
