@use '../../../sin' as *;
@use '../grid/responsive' as media-q;

$display: (none, inline, inline-block, block, table, table-cell, table-row, flex, inline-flex);

@each $displayValue in $display {
  .d-#{$displayValue} {
    display: $displayValue;
  }
}

@if length(map-get($configuration, breakpoints)) > 0 {
  @each $displayValue in $display {
    // Hide/Show etc display properties for various screen sizes

    @each $breakpoint in map-get($configuration, breakpoints) {
      // $breakpoint-value: map-values($breakpoint);
      .min-#{nth($breakpoint, 1)}-#{$displayValue} {
        @include media-q.mqMin(nth($breakpoint, 2)) {
          display: $displayValue;
        }
      }

      .max-#{nth($breakpoint, 1)}-#{$displayValue} {
        @include media-q.mqMax(nth($breakpoint, 2)) {
          display: $displayValue;
        }
      }
    }
  }
} @else {
  @warn "Breakpoints map in _configuration.scss is empty. _display.scss will not render display related classes.";
}
