/// Sets a background overlay to an image.
/// @group utility
/// @arg {color} $color [linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1))] - Can be a color, or a gradient or even an image.
/// @arg {number} $width [100%] - Background Width
/// @arg {number} $height [100%] - Background height
/// @since 0.6.67-beta.2
/// @example sass Simple Usecase
///     .sin{
///         @include overlay(rgba(black, .2));
///     }
@mixin overlay($color: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)), $width: 100%, $height: 100%) {
  position: relative;
  z-index: 1;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: $width;
    height: $height;
    background: $color;
    z-index: -1;
  }
}
