@use '../../../../../scss/sin.config' as *;
@use './../grid/_responsive.scss' as *;

// Syntax
// Min width
// Template Columns
// Template Rows
@mixin grid-template($args...) {
  @if (length($args) > 0) {
    @each $min-width-query, $grid-template-columns, $grid-template-rows in $args {
      @if ($min-width-query == '') {
        display: grid;
        grid-template-columns: $grid-template-columns;
        grid-template-rows: $grid-template-rows;
      } @else {
        @include mqMin($min-width-query) {
          display: grid;
          grid-template-columns: $grid-template-columns;
          grid-template-rows: $grid-template-rows;
        }
      }
    }
  } @else {
    @warn "gridTest requires a list of arguements: ($min-width-query, $grid-template-columns, $grid-template-rows)";
  }
}
