@use '../config' as *;

body {
    padding: 0;
    margin: 0;
    font-family: monospace;
    background: $sinisterDarkGrey;
    color: white;

   h2, h4, h5{
        margin-bottom: .2rem;
    }
    p{
        margin-top: .2rem;
    }
}

.sinister--sectionHr {
    flex: 1 0 100%;
width: 100%;

}

.sinister--header {
    background: $sinisterOrange;
    clip-path: polygon(0 0, 46% 0, 25% 100%, 0% 100%);
}
.sinister--header h1 {
    margin: 0 0 0 2rem;
    padding: 2rem 0;
}

.sinister--section {
    max-width: 1200px;
    padding: 1rem;
    margin: 1rem 0;
    background: rgba($sinisterLightGrey, .2);
}


.identation1 {
    &:before {
        content: "";
        display: inline-block;
        width: 4ch;
    }
}

.identation2 {
    &:before {
        content: "";
        display: inline-block;
        width: 8ch;
    }
}

.identation3 {
    &:before {
        content: "";
        display: inline-block;
        width: 12ch;
    }
}

.identation4 {
    content: "";
    display: inline-block;
    width: 16ch;
}

.identation5 {
    content: "";
    display: inline-block;
    width: 20ch;
}

.utilityList {
    background: rgba(white, 0.15);

}


.codeBlock {
    background: rgba(white, 0.1);
    padding: 1.5rem;
    border-left: 4px solid $sinisterOrange;

    font-size: .8rem;
}

.code {
    background: $sinisterLightGrey;
}

.warning{
    background: $sinisterLightGrey;
    border-left: 4px solid $sinisterOrange;
    padding: .5rem;

    &:before, &:after{
        content: '⚔️';
        padding-left: 2ch;
        padding-right: 2ch;
    }
}

.highlight{
    color: $sinisterOrange;

@include mq($srcMd){
    color: blue;
}

}
