@use 'sass:map';
@use '../../../../../scss/sin.config' as *;
@use '../modules' as *;
@use '../grid/responsive' as *;

//+----------------------+
// Importing Fonts
//+----------------------+

// You can load/import fonts to use easily with font face.

// Example:
@font-face {
  // font-family: Roboto Condensed Regular;
  // src: url(../../../../images/fonts/RobotoCondensedRegular.ttf) format("ttf"), // Format is optional
  // url(https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap); // Load multiple sources, local or frin url (slower)
}

$font-families: get(font-family);

// Itterate through font families map
@each $font-family in $font-families {
  // @debug get(font-family, font-name);

  @font-face {
    // Use deep default sass map-get
    font-family: map-get($font-family, font-name);

    // Itterate throught the array of URLs, for fallback urls.

    @for $i from 1 through length(get($font-family)) {
      // For every font-family decladed in _configuration.scss

      $length: length(map-get($font-family, url)); // lenth of url array

      @if $length == 0 {
        @warn '@font-face url contains no data, or invalid data. Edit in _configuration.scss';
      } @else if $length == 1 {
        src: url(nth(map-get($font-family, url), 1)) format(map-get($font-family, format)); // Format is optional
      } @else if $length == 2 {
        src: url(nth(map-get($font-family, url), 1)) format(map-get($font-family, format)),
          // Format is optional
          url(nth(map-get($font-family, url), 2))
            format(map-get($font-family, format)); // Format is optional
      } @else {
        @warn '@font-face url setting in _configuration.scss requires a url, and optionally a fallback url';
      }
    }
  }
}

@mixin fontName {
  font-family: Roboto Conndensed Regular, Arial, sans-serif; // Dont forget to add some fallback fonts
}

@mixin capitalize {
  text-transform: capitalize;
}
.capitalize {
  @include capitalize;
}

@mixin uppercase {
  text-transform: uppercase;
}
.uppercase {
  @include uppercase;
}

//+----------------------+
// Responsive Font Sizes
//+----------------------+
@if get(responsiveFonts) {
  :root {
    font-size: get(fontSizes, generic);

    @media (max-width: get(breakpoints, xxl)) {
      font-size: get(fontSizes, xxl);
    }

    @media (max-width: get(breakpoints, xl)) {
      font-size: get(fontSizes, xl);
    }

    @media (max-width: get(breakpoints, md)) {
      font-size: get(fontSizes, md);
    }

    @media (max-width: get(breakpoints, sm)) {
      font-size: get(fontSizes, sm);
    }

    @media (max-width: get(breakpoints, xs)) {
      font-size: get(fontSizes, sm);
    }
  }
}

body {
  // line-height: 1.61803398875; //Golden Ratio

  h1 {
    font-size: get(defaultFontSizes, h1);
  }

  h2 {
    font-size: get(defaultFontSizes, h2);
  }

  h3 {
    font-size: get(defaultFontSizes, h3);
  }

  h4 {
    font-size: get(defaultFontSizes, h4);
  }

  h5 {
    font-size: get(defaultFontSizes, h5);
  }

  h6 {
    font-size: get(defaultFontSizes, h6);
  }

  span {
    font-size: get(defaultFontSizes, span);
  }

  p {
    font-size: get(defaultFontSizes, p);
  }

  a {
    text-decoration: none;

    font-size: get(defaultFontSizes, a);

    &:hover {
      text-decoration: none;
    }
  }

  button {
    text-decoration: none;
    font-size: get(defaultFontSizes, button);
    &:hover {
      text-decoration: none;
    }
  }

  em {
    font-size: get(defaultFontSizes, em);
  }

  small {
    font-size: get(defaultFontSizes, small);
  }

  strong {
    font-size: get(defaultFontSizes, strong);
  }

  ul {
    font-size: get(defaultFontSizes, ul);
  }

  ol {
    font-size: get(defaultFontSizes, ol);
  }

  @mixin liNoDec {
    list-style: none;
  }

  li {
    @if get(disListStyle) {
      @include liNoDec;
    }

    font-size: get(defaultFontSizes, li);
  }

  hr {
    font-size: get(defaultFontSizes, hr);
  }

  br {
    font-size: get(defaultFontSizes, br);
  }

  wbr {
    font-size: get(defaultFontSizes, wbr);
  }

  div {
    font-size: get(defaultFontSizes, div);
  }

  section {
    font-size: get(defaultFontSizes, section);
  }
}

// Font Size Mixin
@mixin font-size($fs: 1rem, $scale: 1) {
  font-size: font-size($fs);
}

// Generate Font classes

// If enabled
@if get(compile-font-classes) {
  // For each font size in font sizes in sinconfig
  @each $fs-key, $fs-value in get(fontSizes) {
    // For each breakpoint
    @each $breakpoint-key, $breakpoint-value in get(breakpoints) {
      @include mqMin($breakpoint-value) {
        .#{$breakpoint-key}-min-#{$fs-key} {
          font-size: $fs-value;
        }
      }

      @include mqMax($breakpoint-value) {
        .#{$breakpoint-key}-max-#{$fs-key} {
          font-size: $fs-value;
        }
      }
    }
  }
}
