// Box Shadow Source https://getcssscan.com/css-box-shadow-examples

@mixin boxShadow0{box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;}

@mixin boxShadow1{box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;}

@mixin boxShadow2{box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;}

@mixin boxShadow3{box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;}

@mixin boxShadow4{box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;}

@mixin boxShadow5{box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;}

@mixin boxShadow6{box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;}

@mixin boxShadow7{box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;}

@mixin boxShadow8{box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;}

@mixin boxShadow9{box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;}