@use 'configuration' as *;

//⚔️⚰️⚰️⚰️⚰️⚰️⚰️⚰️⚔️
//  MARGINS | PADDINGS | GAP
//⚔️⚰️⚰️⚰️⚰️⚰️⚰️⚰️⚔️

@for $i from 0 through 5 {
    @if $i == 0 {
        // Margins
        .m-#{$i} {
            margin-top: $zero !important;
            margin-right: $zero !important;
            margin-bottom: $zero !important;
            margin-left: $zero !important;
        }

        .mt-#{$i} {
            margin-top: $zero !important;
        }

        .mb-#{$i} {
            margin-bottom: $zero !important;
        }

        .ml-#{$i} {
            margin-left: $zero !important;
        }

        .mr-#{$i} {
            margin-right: $zero !important;
        }

        //Padding
        .p-#{$i} {
            padding-top: $zero !important;
            padding-right: $zero !important;
            padding-bottom: $zero !important;
            padding-left: $zero !important;
        }

        .pt-#{$i} {
            padding-top: $zero !important;
        }

        .pb-#{$i} {
            padding-bottom: $zero !important;
        }

        .pl-#{$i} {
            padding-left: $zero !important;
        }

        .pr-#{$i} {
            padding-right: $zero !important;
        }

        .gap-#{$i} {
            gap: $zero;
        }

        .gapR-#{$i} {
            row-gap: $zero;
        }

        .gapC-#{$i} {
            column-gap: $zero;
        }
    }

    @if $i == 1 {
        // Margins
        .m-#{$i} {
            margin-top: $one !important;
            margin-right: $one !important;
            margin-bottom: $one !important;
            margin-left: $one !important;
        }

        .mt-#{$i} {
            margin-top: $one !important;
        }

        .mb-#{$i} {
            margin-bottom: $one !important;
        }

        .ml-#{$i} {
            margin-left: $one !important;
        }

        .mr-#{$i} {
            margin-right: $one !important;
        }

        //Padding
        .p-#{$i} {
            padding-top: $one !important;
            padding-right: $one !important;
            padding-bottom: $one !important;
            padding-left: $one !important;
        }

        .pt-#{$i} {
            padding-top: $one !important;
        }

        .pb-#{$i} {
            padding-bottom: $one !important;
        }

        .pl-#{$i} {
            padding-left: $one !important;
        }

        .pr-#{$i} {
            padding-right: $one !important;
        }

        .gap-#{$i} {
            gap: $one;
        }

        .gapR-#{$i} {
            row-gap: $one;
        }

        .gapC-#{$i} {
            column-gap: $one;
        }
    }

    @if $i == 2 {
        // Margins
        .m-#{$i} {
            margin-top: $two !important;
            margin-right: $two !important;
            margin-bottom: $two !important;
            margin-left: $two !important;
        }

        .mt-#{$i} {
            margin-top: $two !important;
        }

        .mb-#{$i} {
            margin-bottom: $two !important;
        }

        .ml-#{$i} {
            margin-left: $two !important;
        }

        .mr-#{$i} {
            margin-right: $two !important;
        }

        //Padding
        .p-#{$i} {
            padding-top: $two !important;
            padding-right: $two !important;
            padding-bottom: $two !important;
            padding-left: $two !important;
        }

        .pt-#{$i} {
            padding-top: $two !important;
        }

        .pb-#{$i} {
            padding-bottom: $two !important;
        }

        .pl-#{$i} {
            padding-left: $two !important;
        }

        .pr-#{$i} {
            padding-right: $two !important;
        }

        .gap-#{$i} {
            gap: $two;
        }

        .gapR-#{$i} {
            row-gap: $two;
        }

        .gapC-#{$i} {
            column-gap: $two;
        }
    }

    @if $i == 3 {
        // Margins
        .m-#{$i} {
            margin-top: $three !important;
            margin-right: $three !important;
            margin-bottom: $three !important;
            margin-left: $three !important;
        }

        .mt-#{$i} {
            margin-top: $three !important;
        }

        .mb-#{$i} {
            margin-bottom: $three !important;
        }

        .ml-#{$i} {
            margin-left: $three !important;
        }

        .mr-#{$i} {
            margin-right: $three !important;
        }

        //Padding
        .p-#{$i} {
            padding-top: $three !important;
            padding-right: $three !important;
            padding-bottom: $three !important;
            padding-left: $three !important;
        }

        .pt-#{$i} {
            padding-top: $three !important;
        }

        .pb-#{$i} {
            padding-bottom: $three !important;
        }

        .pl-#{$i} {
            padding-left: $three !important;
        }

        .pr-#{$i} {
            padding-right: $three !important;
        }

        .gap-#{$i} {
            gap: $three;
        }

        .gapR-#{$i} {
            row-gap: $three;
        }

        .gapC-#{$i} {
            column-gap: $three;
        }
    }

    @if $i == 4 {
        // Margins
        .m-#{$i} {
            margin-top: $four !important;
            margin-right: $four !important;
            margin-bottom: $four !important;
            margin-left: $four !important;
        }

        .mt-#{$i} {
            margin-top: $four !important;
        }

        .mb-#{$i} {
            margin-bottom: $four !important;
        }

        .ml-#{$i} {
            margin-left: $four !important;
        }

        .mr-#{$i} {
            margin-right: $four !important;
        }

        //Padding
        .p-#{$i} {
            padding-top: $four !important;
            padding-right: $four !important;
            padding-bottom: $four !important;
            padding-left: $four !important;
        }

        .pt-#{$i} {
            padding-top: $four !important;
        }

        .pb-#{$i} {
            padding-bottom: $four !important;
        }

        .pl-#{$i} {
            padding-left: $four !important;
        }

        .pr-#{$i} {
            padding-right: $four !important;
        }

        .gap-#{$i} {
            gap: $four;
        }

        .gapR-#{$i} {
            row-gap: $four;
        }

        .gapC-#{$i} {
            column-gap: $four;
        }
    }

    @if $i == 5 {
        // Margins
        .m-#{$i} {
            margin-top: $five !important;
            margin-right: $five !important;
            margin-bottom: $five !important;
            margin-left: $five !important;
        }

        .mt-#{$i} {
            margin-top: $five !important;
        }

        .mb-#{$i} {
            margin-bottom: $five !important;
        }

        .ml-#{$i} {
            margin-left: $five !important;
        }

        .mr-#{$i} {
            margin-right: $five !important;
        }

        //Padding
        .p-#{$i} {
            padding-top: $five !important;
            padding-right: $five !important;
            padding-bottom: $five !important;
            padding-left: $five !important;
        }

        .pt-#{$i} {
            padding-top: $five !important;
        }

        .pb-#{$i} {
            padding-bottom: $five !important;
        }

        .pl-#{$i} {
            padding-left: $five !important;
        }

        .pr-#{$i} {
            padding-right: $five !important;
        }

        .gap-#{$i} {
            gap: $five;
        }

        .gapR-#{$i} {
            row-gap: $five;
        }

        .gapC-#{$i} {
            column-gap: $five;
        }
    }
}

//⚔️⚰️⚰️⚰️⚰️⚰️⚰️⚰️⚔️
//  MIXINS
//⚔️⚰️⚰️⚰️⚰️⚰️⚰️⚰️⚔️

//Unfortunately i can't find a way to incorporate the mixins inside the loop.

//⚔️⚰️⚰️⚰️⚰️⚰️⚰️⚰️⚔️
//  PADDING
//⚔️⚰️⚰️⚰️⚰️⚰️⚰️⚰️⚔️

// -== 0 ==-
@mixin p-0($scale: 1) {
    padding-top: calc(#{$zero} * #{$scale}) !important;
    padding-right: calc(#{$zero} * #{$scale}) !important;
    padding-bottom: calc(#{$zero} * #{$scale}) !important;
    padding-left: calc(#{$zero} * #{$scale}) !important;
}

@mixin pt-0($scale: 1) {
    padding-top: calc(#{$zero} * #{$scale}) !important;
}
@mixin pr-0($scale: 1) {
    padding-right: calc(#{$zero} * #{$scale}) !important;
}
@mixin pb-0($scale: 1) {
    padding-bottom: calc(#{$zero} * #{$scale}) !important;
}
@mixin pl-0($scale: 1) {
    padding-left: calc(#{$zero} * #{$scale}) !important;
}

// -== 1 ==-
@mixin p-1($scale: 1) {
    padding-top: calc(#{$one} * #{$scale}) !important;
    padding-right: calc(#{$one} * #{$scale}) !important;
    padding-bottom: calc(#{$one} * #{$scale}) !important;
    padding-left: calc(#{$one} * #{$scale}) !important;
}

@mixin pt-1($scale: 1) {
    padding-top: calc(#{$one} * #{$scale}) !important;
}
@mixin pr-1($scale: 1) {
    padding-right: calc(#{$one} * #{$scale}) !important;
}
@mixin pb-1($scale: 1) {
    padding-bottom: calc(#{$one} * #{$scale}) !important;
}
@mixin pl-1($scale: 1) {
    padding-left: calc(#{$one} * #{$scale}) !important;
}

// -== 2 ==-
@mixin p-2($scale: 1) {
    padding-top: calc(#{$two} * #{$scale}) !important;
    padding-right: calc(#{$two} * #{$scale}) !important;
    padding-bottom: calc(#{$two} * #{$scale}) !important;
    padding-left: calc(#{$two} * #{$scale}) !important;
}

@mixin pt-2($scale: 1) {
    padding-top: calc(#{$two} * #{$scale}) !important;
}
@mixin pr-2($scale: 1) {
    padding-right: calc(#{$two} * #{$scale}) !important;
}
@mixin pb-2($scale: 1) {
    padding-bottom: calc(#{$two} * #{$scale}) !important;
}
@mixin pl-2($scale: 1) {
    padding-left: calc(#{$two} * #{$scale}) !important;
}

// -== 3 ==-
@mixin p-3($scale: 1) {
    padding-top: calc(#{$three} * #{$scale}) !important;
    padding-right: calc(#{$three} * #{$scale}) !important;
    padding-bottom: calc(#{$three} * #{$scale}) !important;
    padding-left: calc(#{$three} * #{$scale}) !important;
}

@mixin pt-3($scale: 1) {
    padding-top: calc(#{$three} * #{$scale}) !important;
}
@mixin pr-3($scale: 1) {
    padding-right: calc(#{$three} * #{$scale}) !important;
}
@mixin pb-3($scale: 1) {
    padding-bottom: calc(#{$three} * #{$scale}) !important;
}
@mixin pl-3($scale: 1) {
    padding-left: calc(#{$three} * #{$scale}) !important;
}

// -== 4 ==-
@mixin p-4($scale: 1) {
    padding-top: calc(#{$four} * #{$scale}) !important;
    padding-right: calc(#{$four} * #{$scale}) !important;
    padding-bottom: calc(#{$four} * #{$scale}) !important;
    padding-left: calc(#{$four} * #{$scale}) !important;
}

@mixin pt-4($scale: 1) {
    padding-top: calc(#{$four} * #{$scale}) !important;
}
@mixin pr-4($scale: 1) {
    padding-right: calc(#{$four} * #{$scale}) !important;
}
@mixin pb-4($scale: 1) {
    padding-bottom: calc(#{$four} * #{$scale}) !important;
}
@mixin pl-4($scale: 1) {
    padding-left: calc(#{$four} * #{$scale}) !important;
}

// -== 5 ==-
@mixin p-5($scale: 1) {
    padding-top: calc(#{$five} * #{$scale}) !important;
    padding-right: calc(#{$five} * #{$scale}) !important;
    padding-bottom: calc(#{$five} * #{$scale}) !important;
    padding-left: calc(#{$five} * #{$scale}) !important;
}

@mixin pt-5($scale: 1) {
    padding-top: calc(#{$five} * #{$scale}) !important;
}
@mixin pr-5($scale: 1) {
    padding-right: calc(#{$five} * #{$scale}) !important;
}
@mixin pb-5($scale: 1) {
    padding-bottom: calc(#{$five} * #{$scale}) !important;
}
@mixin pl-5($scale: 1) {
    padding-left: calc(#{$five} * #{$scale}) !important;
}

//⚔️⚰️⚰️⚰️⚰️⚰️⚰️⚰️⚔️
//  MARGIN
//⚔️⚰️⚰️⚰️⚰️⚰️⚰️⚰️⚔️

// -== 0 ==-
@mixin m-0($scale: 1) {
    margin-top: calc(#{$zero} * #{$scale}) !important;
    margin-right: calc(#{$zero} * #{$scale}) !important;
    margin-bottom: calc(#{$zero} * #{$scale}) !important;
    margin-left: calc(#{$zero} * #{$scale}) !important;
}

@mixin mt-0($scale: 1) {
    margin-top: calc(#{$zero} * #{$scale}) !important;
}
@mixin mr-0($scale: 1) {
    margin-right: calc(#{$zero} * #{$scale}) !important;
}
@mixin mb-0($scale: 1) {
    margin-bottom: calc(#{$zero} * #{$scale}) !important;
}
@mixin ml-0($scale: 1) {
    margin-left: calc(#{$zero} * #{$scale}) !important;
}

// -== 1 ==-
@mixin m-1($scale: 1) {
    margin-top: calc(#{$one} * #{$scale}) !important;
    margin-right: calc(#{$one} * #{$scale}) !important;
    margin-bottom: calc(#{$one} * #{$scale}) !important;
    margin-left: calc(#{$one} * #{$scale}) !important;
}

@mixin mt-1($scale: 1) {
    margin-top: calc(#{$one} * #{$scale}) !important;
}
@mixin mr-1($scale: 1) {
    margin-right: calc(#{$one} * #{$scale}) !important;
}
@mixin mb-1($scale: 1) {
    margin-bottom: calc(#{$one} * #{$scale}) !important;
}
@mixin ml-1($scale: 1) {
    margin-left: calc(#{$one} * #{$scale}) !important;
}

// -== 2 ==-
@mixin m-2($scale: 1) {
    margin-top: calc(#{$two} * #{$scale}) !important;
    margin-right: calc(#{$two} * #{$scale}) !important;
    margin-bottom: calc(#{$two} * #{$scale}) !important;
    margin-left: calc(#{$two} * #{$scale}) !important;
}

@mixin mt-2($scale: 1) {
    margin-top: calc(#{$two} * #{$scale}) !important;
}
@mixin mr-2($scale: 1) {
    margin-right: calc(#{$two} * #{$scale}) !important;
}
@mixin mb-2($scale: 1) {
    margin-bottom: calc(#{$two} * #{$scale}) !important;
}
@mixin ml-2($scale: 1) {
    margin-left: calc(#{$two} * #{$scale}) !important;
}

// -== 3 ==-
@mixin m-3($scale: 1) {
    margin-top: calc(#{$three} * #{$scale}) !important;
    margin-right: calc(#{$three} * #{$scale}) !important;
    margin-bottom: calc(#{$three} * #{$scale}) !important;
    margin-left: calc(#{$three} * #{$scale}) !important;
}

@mixin mt-3($scale: 1) {
    margin-top: calc(#{$three} * #{$scale}) !important;
}
@mixin mr-3($scale: 1) {
    margin-right: calc(#{$three} * #{$scale}) !important;
}
@mixin mb-3($scale: 1) {
    margin-bottom: calc(#{$three} * #{$scale}) !important;
}
@mixin ml-3($scale: 1) {
    margin-left: calc(#{$three} * #{$scale}) !important;
}

// -== 4 ==-
@mixin m-4($scale: 1) {
    margin-top: calc(#{$four} * #{$scale}) !important;
    margin-right: calc(#{$four} * #{$scale}) !important;
    margin-bottom: calc(#{$four} * #{$scale}) !important;
    margin-left: calc(#{$four} * #{$scale}) !important;
}

@mixin mt-4($scale: 1) {
    margin-top: calc(#{$four} * #{$scale}) !important;
}
@mixin mr-4($scale: 1) {
    margin-right: calc(#{$four} * #{$scale}) !important;
}
@mixin mb-4($scale: 1) {
    margin-bottom: calc(#{$four} * #{$scale}) !important;
}
@mixin ml-4($scale: 1) {
    margin-left: calc(#{$four} * #{$scale}) !important;
}

// -== 5 ==-
@mixin m-5($scale: 1) {
    margin-top: calc(#{$five} * #{$scale}) !important;
    margin-right: calc(#{$five} * #{$scale}) !important;
    margin-bottom: calc(#{$five} * #{$scale}) !important;
    margin-left: calc(#{$five} * #{$scale}) !important;
}

@mixin mt-5($scale: 1) {
    margin-top: calc(#{$five} * #{$scale}) !important;
}
@mixin mr-5($scale: 1) {
    margin-right: calc(#{$five} * #{$scale}) !important;
}
@mixin mb-5($scale: 1) {
    margin-bottom: calc(#{$five} * #{$scale}) !important;
}
@mixin ml-5($scale: 1) {
    margin-left: calc(#{$five} * #{$scale}) !important;
}

//⚔️⚰️⚰️⚰️⚰️⚰️⚰️⚰️⚔️
//  GAP
//⚔️⚰️⚰️⚰️⚰️⚰️⚰️⚰️⚔️
// -== 0 ==-
@mixin gap-0($scale: 1) {
    @supports (gap: 1rem) {
        gap: calc(#{$zero} * #{$scale}) !important;
        margin: 0 !important;
    }
}
@mixin gapR-0($scale: 1) {
    margin-left: calc(#{$zero} * #{$scale}) !important;
    margin-right: calc(#{$zero} * #{$scale}) !important;
    @supports (gap: 1rem) {
        row-gap: calc(#{$zero} * #{$scale}) !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}
@mixin gapC-0($scale: 1) {
    @supports (gap: 1rem) {
        column-gap: calc(#{$zero} * #{$scale}) !important;
        margin: 0 !important;
    }
}

// -== 1 ==-
@mixin gap-1($scale: 1) {
    margin: calc(#{$one} * #{$scale}) !important;
    @supports (gap: 1rem) {
        gap: calc(#{$one} * #{$scale}) !important;
        margin: 0 !important;
    }
}
@mixin gapR-1($scale: 1) {
    margin-left: calc(#{$one} * #{$scale}) !important;
    margin-right: calc(#{$one} * #{$scale}) !important;
    @supports (gap: 1rem) {
        row-gap: calc(#{$one} * #{$scale}) !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}
@mixin gapC-1($scale: 1) {
    margin-top: calc(#{$one} * #{$scale}) !important;
    margin-bottom: calc(#{$one} * #{$scale}) !important;
    @supports (gap: 1rem) {
        column-gap: calc(#{$one} * #{$scale}) !important;
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }
}

// -== 2 ==-
@mixin gap-2($scale: 1) {
    margin: calc(#{$two} * #{$scale}) !important;
    @supports (gap: 1rem) {
        gap: calc(#{$two} * #{$scale}) !important;
        margin: 0 !important;
    }
}
@mixin gapR-2($scale: 1) {
    margin-left: calc(#{$two} * #{$scale}) !important;
    margin-right: calc(#{$two} * #{$scale}) !important;
    @supports (gap: 1rem) {
        row-gap: calc(#{$two} * #{$scale}) !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}
@mixin gapC-2($scale: 1) {
    margin-top: calc(#{$two} * #{$scale}) !important;
    margin-bottom: calc(#{$two} * #{$scale}) !important;
    @supports (gap: 1rem) {
        column-gap: calc(#{$two} * #{$scale}) !important;
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }
}

// -== 3 ==-
@mixin gap-3($scale: 1) {
    margin: calc(#{$three} * #{$scale}) !important;
    @supports (gap: 1rem) {
        gap: calc(#{$three} * #{$scale}) !important;
        margin: 0 !important;
    }
}
@mixin gapR-3($scale: 1) {
    margin-left: calc(#{$three} * #{$scale}) !important;
    margin-right: calc(#{$three} * #{$scale}) !important;
    @supports (gap: 1rem) {
        row-gap: calc(#{$three} * #{$scale}) !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}
@mixin gapC-3($scale: 1) {
    margin-top: calc(#{$three} * #{$scale}) !important;
    margin-bottom: calc(#{$three} * #{$scale}) !important;
    @supports (gap: 1rem) {
        column-gap: calc(#{$three} * #{$scale}) !important;
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }
}

// -== 4 ==-
@mixin gap-4($scale: 1) {
    margin: calc(#{$four} * #{$scale}) !important;
    @supports (gap: 1rem) {
        gap: calc(#{$four} * #{$scale}) !important;
        margin: 0 !important;
    }
}
@mixin gapR-4($scale: 1) {
    margin-left: calc(#{$four} * #{$scale}) !important;
    margin-right: calc(#{$four} * #{$scale}) !important;
    @supports (gap: 1rem) {
        row-gap: calc(#{$four} * #{$scale}) !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}
@mixin gapC-4($scale: 1) {
    margin-top: calc(#{$four} * #{$scale}) !important;
    margin-bottom: calc(#{$four} * #{$scale}) !important;
    @supports (gap: 1rem) {
        column-gap: calc(#{$four} * #{$scale}) !important;
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }
}

// -== 5 ==-
@mixin gap-5($scale: 1) {
    margin: calc(#{$five} * #{$scale}) !important;
    @supports (gap: 1rem) {
        gap: calc(#{$five} * #{$scale}) !important;
        margin: 0 !important;
    }
}
@mixin gapR-5($scale: 1) {
    margin-left: calc(#{$five} * #{$scale}) !important;
    margin-right: calc(#{$five} * #{$scale}) !important;
    @supports (gap: 1rem) {
        row-gap: calc(#{$five} * #{$scale}) !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}
@mixin gapC-5($scale: 1) {
    margin-top: calc(#{$five} * #{$scale}) !important;
    margin-bottom: calc(#{$five} * #{$scale}) !important;
    @supports (gap: 1rem) {
        column-gap: calc(#{$five} * #{$scale}) !important;
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }
}
