@use '../configuration' as *;
@use 'utility';

//+----------------------+
// Importing Fonts
//+----------------------+

// You can load/import fonts to use easily with font face.

// Example:
@font-face {
  // font-family: Roboto Condensed Regular;
  // src: url(../../../../images/fonts/RobotoCondensedRegular.ttf) format("ttf"), // Format is optional
  // url(https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap); // Load multiple sources, local or frin url (slower)
}

@mixin fontName {
  font-family: Roboto Conndensed Regular, Arial, sans-serif; // Dont forget to add some fallback fonts
}

@mixin capitalize {
  text-transform: capitalize;
}
.capitalize {
  @include capitalize;
}

@mixin uppercase {
  text-transform: uppercase;
}
.uppercase {
  @include uppercase;
}

@mixin txtXs($scale: 1) {
  font-size: calc(#{map-get($fontSize, xs)} * #{$scale});
}
.txtXs {
  @include txtXs;
}

@mixin txtSm($scale: 1) {
  font-size: calc(#{map-get($fontSize, sm)} * #{$scale});
}
.txtSm {
  @include txtSm;
}

@mixin txtMd($scale: 1) {
  font-size: calc(#{map-get($fontSize, md)} * #{$scale});
}
.txtMd {
  @include txtMd;
}

@mixin txtXl($scale: 1) {
  font-size: calc(#{map-get($fontSize, xl)} * #{$scale});
}
.txtXl {
  @include txtXl;
}

@mixin txtXxl($scale: 1) {
  font-size: calc(#{map-get($fontSize, xxl)} * #{$scale});
}
.txtXxl {
  @include txtXxl;
}

//+----------------------+
// Responsive Font Sizes
//+----------------------+
@if $responsiveFontSizes {
  :root {
    font-size: map-get($fontSize, generic);

    @media (max-width: map-get($breakpoints, xxl)) {
      font-size: map-get($fontSize, xxl);
    }

    @media (max-width: map-get($breakpoints, xl)) {
      font-size: map-get($fontSize, xl);
    }

    @media (max-width: map-get($breakpoints, md)) {
      font-size: map-get($fontSize, md);
    }

    @media (max-width: map-get($breakpoints, sm)) {
      font-size: map-get($fontSize, sm);
    }

    @media (max-width: map-get($breakpoints, xs)) {
      font-size: map-get($fontSize, sm);
    }
  }
}

body {
  line-height: 1.61803398875; //Golden Ratio

  h1 {
    font-size: map-get($fontSize, h1);
  }

  h2 {
    font-size: map-get($fontSize, h2);
  }

  h3 {
    font-size: map-get($fontSize, h3);
  }

  h4 {
    font-size: map-get($fontSize, h4);
  }

  h5 {
    font-size: map-get($fontSize, h5);
  }

  h6 {
    font-size: map-get($fontSize, h6);
  }

  span {
    font-size: map-get($fontSize, span);
  }

  p {
    font-size: map-get($fontSize, p);
  }

  a {
    text-decoration: none;

    font-size: map-get($fontSize, a);

    &:hover {
      text-decoration: none;
    }
  }

  button {
    text-decoration: none;
    font-size: map-get($fontSize, button);
    &:hover {
      text-decoration: none;
    }
  }

  em {
    font-size: map-get($fontSize, em);
  }

  small {
    font-size: map-get($fontSize, small);
  }

  strong {
    font-size: map-get($fontSize, strong);
  }

  ul {
    font-size: map-get($fontSize, ul);
  }

  ol {
    font-size: map-get($fontSize, ol);
  }

  li {
    @if $disListStyle {
      @include liNoDec;
    }

    font-size: map-get($fontSize, xxl);
  }

  hr {
    font-size: map-get($fontSize, hr);
  }

  br {
    font-size: map-get($fontSize, br);
  }

  wbr {
    font-size: map-get($fontSize, wbr);
  }

  div {
    font-size: map-get($fontSize, div);
  }

  section {
    font-size: map-get($fontSize, section);
  }
}
