

@mixin block{display: block;}
.block{@include block}

@mixin liNoDec{list-style: none}
.liDecNone{@include liNoDec}


//⚔️⚰️⚰️⚰️⚰️⚰️⚰️⚰️⚔️
//  Text Decoration
//⚔️⚰️⚰️⚰️⚰️⚰️⚰️⚰️⚔️

@mixin txtOverline{text-decoration: overline}
.txtOverline{@include txtOverline}

@mixin txtLineThrough{text-decoration: line-through}
.txtLineThrough{@include txtLineThrough}

@mixin txtUnderline{text-decoration: underline}
.txtUnderline{@include txtUnderline}



//⚔️⚰️⚰️⚰️⚰️⚰️⚰️⚰️⚔️
//  Background Image
//⚔️⚰️⚰️⚰️⚰️⚰️⚰️⚰️⚔️

@mixin bgImg($imgUrl: null,  $overlay: transparent, $position: center center, $size: cover, $fbColor: #666){
    background-color: $fbColor; // fallback
    background: url('#{$imgUrl}') #{$position}; // fallback
    
    background: -moz-linear-gradient(#{$overlay}), url('#{$imgUrl}') #{$position}; // FF 3.6+
    background: -webkit-gradient(#{$overlay}), url('#{$imgUrl}') #{$position}; // Safari 4+, Chrome 2+
    background: -webkit-linear-gradient(#{$overlay}), url('#{$imgUrl}') #{$position}; // Safari 5.1+, Chrome 10+
    background: -o-linear-gradient(#{$overlay}), url('#{$imgUrl}') #{$position}; // Opera 11.10
    background: linear-gradient(#{$overlay}), url('#{$imgUrl}') #{$position}; // Standard, IE10
}