@use '../../../../../sin.config' as *;

@use './../grid/_responsive.scss' as *;

////
/// @ignore @author Theodoros Kondakos
/// @ignore @link   https://github.com/TheoKondak
////

///
/// Replace `$search` with `$replace` in `$string`.
/// @access public
/// @arg {arglist} $args - Takes an `arglist` of `lists`.
/// > Each `list` contains:
/// - a {String}  $min-width-query - Initial string
/// - a  {list}    $grid-template-columns - Substring to replace
/// - and another  {list}    $grid-template-rows ('') - New value
/// @example @include grid-template(('', (1fr), (1fr, 1fr)),(xs, (1fr, 1fr, 30px)));
@mixin grid-template($args...) {
  @if (length($args) > 0) {
    @each $min-width-query, $grid-template-columns, $grid-template-rows in $args {
      @if ($min-width-query == '') {
        display: grid;
        grid-template-columns: $grid-template-columns;
        grid-template-rows: $grid-template-rows;
      } @else {
        @include mqMin($min-width-query) {
          display: grid;
          grid-template-columns: $grid-template-columns;
          grid-template-rows: $grid-template-rows;
        }
      }
    }
  } @else {
    @warn "gridTest requires a list of arguements: ($min-width-query, $grid-template-columns, $grid-template-rows)";
  }
}
