@use '../../../../../scss/sin.config' as *;
@use './get-func' as *;
@use './getMap-func' as *;
@use 'sass:string';
@use 'sass:map';
@use 'sass:list';

/// Function/Mixin Name /  Short Description
///
/// @param  {string}  $image-url - The URL that prefixes an image while in development
/// @return {string}  - Returns the full css property required to add a background image, with the prefix url prefixed. Might be useful in some projects.
///

@function prefix-url($image-url: '') {
  $production: get(global, production);
  $production-url: get(global, production-url);
  $development-url: get(global, development-url);

  @if $production {
    @return string.unquote('url("#{$production-url}/#{$image-url}")');
  } @else {
    @return string.unquote('url("#{$development-url}/#{$image-url}")');
  }
}

// Shorter function call
@function prefix($image-url: '') {
  @return prefix-url($image-url);
}

/// @example
// background-image: prefix-url('images/just-an-image.webp');
// Will return either development url or production url depending on configuration
