@use './../../sinister-default-configuration' as *;
@use 'sass:map' as map;
@use 'sass:string';
@use 'sass:list';
@use './../private/type-func' as *;

/// `set.config` creates the configuration for the project. Through this function you can update the Sinister configuration map. For example you can update breakpoints, colors, font-sizes, or set new ones.
/// @author Theodoros Kondakos
/// @group setup
/// @param {map} $new-config - A map that contains setting values to update or add new data to the configuration
/// @return {map} - Returns an updated map that is a merge of $new-config and $original-map.
/// @see {function} help
/// @example scss See available properties and values
///
/// $configuration: set-config(
///  (
///   colors: (
///      test-color: #ffa,
///    ),
///  )
/// );
@function set-config($new-config) {
  // Check if the `$new-config` is a type of `map`
  @if (type($new-config, (map))) {
    $default-configuration: $sinister-default-configuration;
    // A new map to use for updating the return map
    $processing-map: ();
    // The map to be returned as the final `$configuration`
    $return-map: $default-configuration;
    @each $original-key, $original-value in $default-configuration {
      @each $new-key, $new-value in $new-config {
        @if $original-key == $new-key {
          @if (type($new-value, (map))) {
            // Update the temporary map
            $processing-map: map.set($processing-map, $original-key, map.merge($original-value, $new-value));
            // Pass the data to the original map
            $return-map: map.merge($default-configuration, map.set($processing-map, $original-key, map.merge($original-value, $new-value)));
          } @else if (type($new-value, (list))) {
            $processing-map: map.set($processing-map, $original-key, list.append($original-value, $new-value));
            $return-map: map.merge($default-configuration, map.set($processing-map, $original-key, list.append($original-value, $new-value)));
          } @else if (type($new-value, ('string', 'bool', 'number', 'color', null))) {
            $processing-map: map.set($processing-map, $original-key, $new-value);
            $return-map: map.merge($default-configuration, map.set($processing-map, $original-key, $new-value));
          }
        }
      }
    }

    @return $return-map;
  } @else if type($new-map, (list)) {
  } @else {
    @error 'set-config function was called with invalid input. Was expecting a map but instead received: #{type-of($new-map)}';
    @return null;
  }
}
