@use 'sass:list';
@use 'sass:map';
@use '../functions' as *;
@use '../../../../../sin.config' as *;

@mixin d-flex {
  display: flex !important;
}

.flex {
  @include d-flex;
}

.justifyCenter {
  @include d-flex;
  justify-content: center;
}

@mixin justifyCenter {
  @include d-flex;
  justify-content: center;
}

.justifyStart {
  @include d-flex;
  justify-content: flex-start;
}

@mixin justifyStart {
  @include d-flex;
  justify-content: flex-start;
}

.justifyEnd {
  @include d-flex;
  justify-content: flex-end;
}

@mixin justifyEnd {
  @include d-flex;
  justify-content: flex-end;
}

.justifySpaceBetween {
  @include d-flex;
  justify-content: space-between;
}

@mixin justifySpaceBetween {
  @include d-flex;
  justify-content: space-between;
}

.justifySpaceEvenly {
  @include d-flex;
  justify-content: space-evenly;
}

@mixin justifySpaceEvenly {
  @include d-flex;
  justify-content: space-evenly;
}

.justifySpaceAround {
  @include d-flex;
  justify-content: space-around;
}

@mixin justifySpaceAround {
  @include d-flex;
  justify-content: space-around;
}

.wrap {
  @include d-flex;
  flex-wrap: wrap;
}

@mixin wrap {
  @include d-flex;
  flex-wrap: wrap;
}

.nowrap {
  @include d-flex;
  flex-wrap: nowrap;
}

@mixin nowrap {
  @include d-flex;
  flex-wrap: nowrap;
}

.alignStart {
  @include d-flex;
  align-items: flex-start;
}

@mixin alignStart {
  @include d-flex;
  align-items: flex-start;
}

.alignEnd {
  @include d-flex;
  align-items: flex-end;
}

@mixin alignEnd {
  @include d-flex;
  align-items: flex-end;
}

.alignBaseline {
  @include d-flex;
  align-items: baseline;
}

@mixin alignBaseline {
  @include d-flex;
  align-items: baseline;
}

.alignCenter {
  @include d-flex;
  align-items: center;
}

@mixin alignCenter {
  @include d-flex;
  align-items: center;
}

.alignStretch {
  @include d-flex;
  align-items: stretch;
}

@mixin alignStretch {
  @include d-flex;
  align-items: stretch;
}

.contentStart {
  @include d-flex;
  align-content: flex-start;
}

@mixin contentStart {
  @include d-flex;
  align-content: flex-start;
}

.contentEnd {
  @include d-flex;
  align-content: flex-end;
}

@mixin contentEnd {
  @include d-flex;
  align-content: flex-end;
}

.contentCenter {
  @include d-flex;
  align-content: center;
}

@mixin contentCenter {
  @include d-flex;
  align-content: center;
}

.contentBetween {
  @include d-flex;
  align-content: space-between;
}

@mixin contentBetween {
  @include d-flex;
  align-content: space-between;
}

.contentAround {
  @include d-flex;
  align-content: space-around;
}

@mixin contentAround {
  @include d-flex;
  align-content: space-around;
}

.contentStretch {
  @include d-flex;
  align-content: stretch;
}

@mixin contentStretch {
  @include d-flex;
  align-content: stretch;
}

.flexColumn {
  @include d-flex;
  flex-direction: column;
}

@mixin flexColumn {
  @include d-flex;
  flex-direction: column;
}

.flexRow {
  @include d-flex;
  flex-direction: row;
}

@mixin flexRow {
  @include d-flex;
  flex-direction: row;
}

.flexGrow {
  @include d-flex;
  flex-grow: 1;
}

@mixin flexGrow {
  @include d-flex;
  flex-grow: 1;
}

.noGrow {
  @include d-flex;
  flex-grow: 0;
}

@mixin noGrow {
  @include d-flex;
  flex-grow: 0;
}

.flexShrink {
  @include d-flex;
  flex-shrink: 1;
}

@mixin flexShrink {
  @include d-flex;
  flex-shrink: 1;
}

.noShrink {
  @include d-flex;
  flex-shrink: 0;
}

@mixin noShrink {
  @include d-flex;
  flex-shrink: 0;
}

@mixin centerContent {
  @include justifyCenter;
  @include alignCenter;
}

.centerContent {
  @include centerContent;
}

//⚔️⚰️⚰️⚰️⚰️⚰️⚰️⚰️⚔️
// Extra
//⚔️⚰️⚰️⚰️⚰️⚰️⚰️⚰️⚔️
