@use '../sin' as *;

@keyframes scaleImage {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.05);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0.4;
  }
}

.menu-grid-- {
  &container {
    width: 100%;
    //   width: 100vw;
    height: calc(100vh - 82px);
    margin: 0;
    padding: 0;

    position: relative;
    overflow: hidden;

    // position: absolute;

    background-size: contain;
    z-index: 99;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

    @include mqMax(1024px) {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 200px 200px 200px;
    }

    @include mqMax(1024px) {
      grid-template-columns: 1fr;
      grid-template-rows: 200px;
    }
  }

  &background-container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
  }

  &background {
    height: 100%;
    width: 100%;
    object-fit: cover;
    // opacity: 1;
  }

  &item {
    border: 1px solid white;

    @include justifyEnd;
    @include alignEnd;

    .title,
    .title {
      color: white;
      font-size: 1.5rem;
      text-transform: uppercase;
      padding: 0.5rem;
      padding-bottom: 0;
    }
  }
}

.fill-container {
  @include justifyEnd;
  @include alignEnd;
  height: 100%;
  width: 100%;
}

.scale-in {
  animation: scaleImage 6s ease-in-out;
  animation-fill-mode: forwards;
}

.fade-in {
  animation: fade-in 0.9s ease-in-out;
  animation-fill-mode: forwards;
  // z-index: 2;
}

.fade-out {
  animation: fadeOut 0.8s ease-out;
  // animation-fill-mode: forwards;
}

.hidden {
  animation: fadeOut 0.4s ease-out;
  display: none;
}
